body  {
  background:  red  !important;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: radial-gradient(circle at top, #4b1b7c, #0b0617);
  color: white;
}

/* NAV */
.navbar {
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);
}

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 80px;
}

.hero-img {
  width: 180px;
  margin-bottom: 20px;
  animation: float 4s ease-in-out infinite;
}

.hello {
  opacity: 0.9;
}

h1 {
  font-size: 38px;
}

h1 span {
  color: #b56cff;
  text-shadow: 0 0 20px #b56cff;
}

/* BUTTON */
.btn-hero {
  display: inline-block;
  margin-top: 25px;
  padding: 14px 40px;
  border-radius: 30px;
  background: linear-gradient(135deg, #b56cff, #7a2cff);
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.btn-hero:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #b56cff;
}

/* SECTION */
.section {
  padding: 80px 0;
}

/* SKILL CARD */
.skill-card {
  background: rgba(255,255,255,0.08);
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  transition: 0.3s;
}

.skill-card img {
  width: 70px;
  margin-bottom: 15px;
}

.skill-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(181,108,255,0.5);
}

/* ANIMASI AMAN */
.fade {
  animation: fadeUp 0.8s ease;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0%,100% { transform: translateY(0); }
  50% { transform: translateY(-12px); }
}

footer {
  background: rgba(0,0,0,0.6);
}
