/* RESET AMAN */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #6a0dad; /* ungu */
  color: white;
  font-family: Arial, sans-serif;
  padding-top: 80px;
}

/* NAVBAR */
.navbar {
  background: #4b0082 !important;
}

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-img {
  width: 120px;
  margin-bottom: 15px;
}

h1 span {
  color: #ffd700;
}

/* SECTION */
.section {
  padding: 60px 0;
}

/* SKILL */
.skill-card {
  background: rgba(255,255,255,0.15);
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.skill-card img {
  width: 70px;
  margin-bottom: 10px;
}

/* FOOTER */
footer {
  background: #4b0082;
}
